<html>
 <head>
   <title>Datastore Retrieve form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Retrieved from Google Datastore</h1>
     </div>
     <div id="main">
       <p>
          <h4><strong>Tweet ID </strong>: {{tweet_id}} <br>
          <h4><strong>Tweet Text </strong>: {{tweet_text}} <br>
          <h4><strong>Tweet Favorites Count </strong>: {{tweet_favorite_count}} <br>
          <h4><strong>Tweet Retweet Count </strong>: {{tweet_retweet_count}} <br>
       </p>
     </div>
   </div>
   <a href="/form">Home</a>
 </body>
</html>